{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% crispy example_form example_form.helper %}

{% load static %}

{% block title %}مکتب ۵۱{% endblock %}

{% block content %}

<div class="col-md-12" style="margin-top: 10px;"></div>
<div class="row">
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="col">
              <label for="">title</label>
            <input type="text" maxlength="10" required=true id="title" name="title" class="form-control" autocomplete="off" placeholder="title">
          </div>
          <div class="col">
            <label for="">description</label>
            <input type="text" id="description" name="description" class="form-control"  autocomplete="off" placeholder="description">
          </div>
          <div class="col">
            <label for="exampleFormControlSelect1">priority</label>
            <select name="priority" class="form-control" id="priority">
              <option value="adanger">بالا</option>
              <option value="bwarning">متوسط</option>
              <option value="csuccess">پایین</option>
            
            </select>
          </div>
          <div class="col" style="margin-top:32px;">
              <button class="btn btn-primary" type="submit">submit :)</button>
          </div>
        </div>

      </form>
    
     
    
</div>
  



<div class="text-center" style="position: fixed;bottom: 0;">
    Made with &#x2615; and &#9829; by <strong><a href="https://www.github.com/mhsharifi96"
            target="_blank">Virux</a></strong>





    © . All rights reserved.
</div>
{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}