{% extends 'base.html' %}

{% block title %}
 مثال 
{% endblock title %}


{% block script %}
    $(document).ready(function () {
        
        $('#maktab').click(function(){
            console.log('hi maktab')
            //alert('hi maktab')
           // $('#btnSection').append('<button class="btn btn-danger">add by envent</button>')
           console.log(this)
           $($(this).closest('div')).append('testttt')
        })

        $("#sampleBtn").click(function(){
            
            $.ajax({
                url: "{% url 'json-sample'%}",
                type: 'GET',
                dataType: 'json', // added data type
                success: function(res) {
                    console.log(res);
                    iziToast.show({
                        title: 'Hey',
                        color : 'green',
                        message: res.message
                    });
                    
                }
            });
        }); 
        $("#sampleBtn2").click(function(){
            alert('click event worked for btn 2 ')
        }); 
        $("#button-addon2").click(function(){
            inputText = $('#inputText').val()
            console.log(inputText)
            // ajax 
            $.post( "{%url 'ajax-sample'%}",
                {   
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    "inputText": inputText,  // دیتا در فرم وارد شده
                   // "inputText1":'inputText1',
                   // "inputText2":'inputText2',
                   // "inputText3":'inputText3',
                   // "inputText4":'inputText4',
                    //"sampleList":[1,2,3,4,5,6], ???
                    //"sampleObj":JSON.stringify({name:"maktab",test : "test"}),

                } ,function( data ) {
                       console.log('data : ',data)
                       iziToast.show({
                            title: 'Hey',
                            color : 'green',
                            message: data.message
                        });
                        $('#polls li').remove()
                        $.each(data.polls,function(index,value){
                            console.log('index',index)
                            console.log('value',value)
                            
                            $('#polls').append('<li>'+value.question+'</li>')
                        })
                }

            );

           

            
        }); 


        

        $(document).on("click",".taskRemove",function() {});
        
        
        $(document).on("click","#taskSaveBtn",function() {

            $.post( "",
                {   
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                
                    "test":"test1",
                    "tasks":JSON.stringify(tasks),
                } ,function( data ) {
                        $( ".result" ).html( data);
                }
            );
        })
        

    });
{% endblock script %}

{% block content %}

<div class="container">
    <div class="row">
        <div id = "btnSection" class="col-12">
            <br><br><br>
            <button id='sampleBtn' type="click"  class="btn btn-warning">ساعت :)</button>
            <button id='sampleBtn2' type="click"  class="btn btn-primary">کلیک ۲</button>
            <button id="maktab" class="btn btn-info" type="click">hi maktab</button>
        <hr>
        </div>
        
        <div class="col-12">
            <div class="input-group mb-3">
                <input id="inputText" type="text" class="form-control" placeholder="نام خود را وارد کنید" aria-label="نام خود را وارد" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">ارسال</button>
              </div>
        </div>
        <hr>
        <ul id="newData"></ul>
        <ul id="polls"></ul>
    </div>
</div>

{% endblock content %}